* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*********************************************** Utilities */
:root {
    /* font-size: 62.5%; */
    
    --transition-animation: color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    --hover-color:rgb(204, 204, 204);
}


body {
    background-color: rgb(226, 222, 222);
}

a {
    text-decoration: none;
}

#images{
    display: flex;
}

img {
    max-width: 33.3%;
    min-width: 33.3%;
    min-height: 50vh;
    max-height: 50vh;
    object-fit: cover;
    /* float: initial; */
}


/********************************************* Header*/

header {
    background-color: aliceblue;
}
header .container {
    font-size: 2.4em;
    font-family: 'Long Cang', cursive;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

header a{
    text-decoration: none;
    color: black;
    transition: var(--transition-animation)
}

header a:hover {
    color:var(--hover-color);
}

header ul {
    display: flex;
    justify-content: flex-end;
}
.log{
    display: flex;
    justify-content: space-between;
    padding: 2px 5px 1px 5px;
    /* background-color: black; */
}
.log ul {
    list-style: none;
}
.log ul li a {
    margin-left: 20px;
}
.log a:hover{
    color:var(--hover-color);
}



/********************************************************** */


/***************************************** NavBar *****************/


div.container2 {
    display: flex;
    justify-content: space-evenly;
}

nav {
    background-image: radial-gradient(rgba(192, 190, 190, 0.76)20%, 
    rgba(240, 248, 255, 0.274 ));
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a {
    position: relative;
    font-size: 1.3em;
    color: rgb(63, 63, 63);
    padding-left: 25px;
    padding-right: 25px;
    transition: var(--transition-animation);
}

nav a:hover {
    color: var(--hover-color);
}

.border::after {
    content: '';
    position: absolute;
    /* display: block; */
    /* left: 5%; */
    margin-left: 175px;
    height: 150%;
    width: 1px;
    background: black;
   
}
/********************************************************** */


/********************************************************** Main */

main {
    clear: both;
    background-color: mediumturquoise;
}


/********************************************************** */



/********************************************************** Footer */
footer {
    background-color: rgb(21, 21, 49);
    height: 100px;
}